*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white;
    background-color: black;

}

.container{
    width:100% ;
}
.row{
    padding:0px 80px;
}
.nav{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:10px 0px;
    margin-top:10px;
   /* background-color:yellow;*/
}
.nav ul{
    justify-content: center;
    display:flex;
    align-items: center;
    /*margin-top:10px;*/
    background-color:aque;
}
.nav ul li{
    list-style-type: none;
}
.nav ul li a{
    text-decoration:none;
    padding:10px 18px;
    font-family:'Times New Roman', Times, serif;
    border-radius:5px;
}
.nav ul li a:hover{
    color:black;
    background-color: white;
}
.nav h1{
    color:red;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
